.marquee {
    position: fixed;
    top: calc(7vh + 2rem);
    width: 100svw;
    opacity: 1;
    transition: opacity 0.4s linear;
    overflow: hidden;
}

.marqueeContent {
    background-color: var(--red);
    padding: 0.25rem 0;
    height: fit-content;
    transform: translateY(110%);
    transition: transform 0.3s linear;
}


.marqueeVisible .marqueeContent {
    opacity: 1;
    transform: translateY(0);
}

.marqueeElement {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 0 calc(2rem + 4vw);
}



.imageContainer img {
    height: 0.8rem;
    width: auto;
}

.marqueeElement p {
    font-size: 0.7rem;
    color: white;
    font-family: var(--title-font)
}