.container {
    height: 100vh;
    width: auto;
    aspect-ratio: 4/3;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 0 0 0;
    scrollbar-width: none;
    pointer-events: none;
}

.container::-webkit-scrollbar {
    display: none;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

    .container {
        height: 100vh;
        width: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 6rem 0 4rem 0;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {
    .container {
        height: 100vh;
        width: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 6rem 0 4rem 0;
    }
}