.container {
    background-color: var(--background-grey);
    overflow: hidden;
}

.contentContainer {
    display: flex;
    width: calc(30rem + 40vw);
    height: calc(20rem + 40vh);
    position: relative;
}

.imageContainer {
    height: 100%;
    overflow: hidden;
    width: 45%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.imageContainer img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2.5rem;
    width: 55%;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.titleContainer h2 {
    font-size: 1.8rem;
}

.timeContainer h3 {
    font-size: 0.8rem;
    font-family: var(--regular-font)
}

.timeContainer h4 {
    font-family: var(--regular-font);
    font-size: 0.7rem;
}


.descriptionContainer p {
    font-size: 0.75rem;
    hyphens: auto;
    width: 90%;
}


.socialsContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}



.pressContainer a {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.pressContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-family: var(--regular-font);
    text-transform: uppercase;
    font-size: 0.8rem;
}



.presslinkContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.presslinkContainer:hover,
.presslinkContainer:hover a {
    background-color: var(--red);
    color: white;
    width: fit-content
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

    .container {
        background-color: var(--background-grey);
        overflow-y: scroll;
        width: 75svw;
        max-height: 85svh;
        height: fit-content;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
        justify-content: space-between;
        overflow: scroll;
    }

    .imageContainer {
        height: fit-content;
        width: 100%;
        flex: 1;
    }

    .imageContainer img {
        height: auto;
        object-fit: contain;
        width: 75svw;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
        height: auto;
        flex: 1;
        height: fit-content;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
    }

    .titleContainer h2 {
        font-size: 1rem;

    }


    .timeContainer {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 0rem;
    }

    .timeContainer h3 {
        font-size: 0.5rem;
        font-family: var(--regular-font)
    }

    .timeContainer h4 {
        font-family: var(--thin-font);
        font-size: 0.5rem;
    }

    .descriptionContainer p {
        font-size: 0.5rem;
        hyphens: auto;
        width: 100%;
    }


    .socialsContainer {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: fit-content
    }

    .socialContainer {
        height: 1.2rem;
        width: 1.2rem;
    }

    .pressContainer {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-family: var(--regular-font);
        text-transform: uppercase;
        font-size: 0.6rem;
        padding-top: 1rem;
    }

    .presslinkContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .pressContainer a {
        display: flex;
        align-items: center;
        width: fit-content;
    }


    .presslinkContainer:hover,
    .presslinkContainer:hover a {
        background-color: var(--red);
        color: white;
        width: fit-content
    }
}


/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {
    .container {
        background-color: var(--background-grey);
        overflow-y: scroll;
        width: 75svw;
        height: 85svh;
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        position: relative;
        gap: 2rem;
    }

    .imageContainer {
        overflow: hidden;
        flex: 1;
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

    }

    .imageContainer img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;
        width: 100%;
        height: fit-content;
        flex: 1;

    }

    .titleContainer {
        display: flex;
        flex-direction: column;
    }

    .titleContainer h2 {
        font-size: 1.5rem;

    }


    .timeContainer {
        display: flex;
        align-items: left;
        flex-direction: column;
        gap: 0rem;
    }


    .descriptionContainer p {
        font-size: 0.7rem;
        hyphens: auto;
        width: 90%;
    }


    .socialsContainer {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: fit-content
    }

    .socialContainer {
        height: 1.2rem;
        width: 1.2rem;
    }

    .pressContainer {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-family: var(--regular-font);
        text-transform: uppercase;
        font-size: 0.6rem;
        padding-top: 1rem;
    }

    .presslinkContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .pressContainer a {
        display: flex;
        align-items: center;
        width: fit-content;
    }


    .presslinkContainer:hover,
    .presslinkContainer:hover a {
        background-color: var(--red);
        color: white;
        width: fit-content
    }
}


@media (min-width: 2400px) {
    .container {
        background-color: var(--background-grey);
        overflow: hidden;
    }

    .contentContainer {
        display: flex;
        width: 80vw;
        height: 80vh;
        position: relative;
    }

    .imageContainer {
        height: 100%;
        overflow: hidden;
        width: 45%;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }

    .imageContainer img {
        height: 100%;
        width: auto;
        object-fit: cover;
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-left: 4rem;
        padding-top: 4rem;
        width: 55%;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
    }

    .titleContainer h2 {
        font-size: 4rem;
    }

    .timeContainer h3 {
        font-size: 2rem;
        font-family: var(--regular-font)
    }

    .timeContainer h4 {
        font-family: var(--regular-font);
        font-size: 2rem;
    }


    .descriptionContainer p {
        font-size: 1.5rem;
        hyphens: auto;
        width: 90%;
    }


    .socialsContainer {
        display: flex;
        align-items: center;
        gap: 4rem;
    }



    .pressContainer a {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: fit-content;
    }

    .pressContainer {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        font-family: var(--regular-font);
        text-transform: uppercase;
        font-size: 1.5rem;
    }



    .presslinkContainer {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .presslinkContainer:hover,
    .presslinkContainer:hover a {
        background-color: var(--red);
        color: white;
        width: fit-content
    }
}