@font-face {
    font-family: "GT America Black";
    src: url("../../public/fonts/GT-America-Expanded-Black.woff2");
    fallback: url("../../public/fonts/GT-America-Expanded-Black.woff");
}

@font-face {
    font-family: "GT America Regular";
    src: url("../../public/fonts/GT-America-Expanded-Regular.woff2");
    fallback: url("../../public/fonts/GT-America-Expanded-Regular.woff");
}

@font-face {
    font-family: "GT America Thin";
    src: url("../../public/fonts/GT-America-Extended-Regular.otf");
    fallback: url("../../public/fonts/GT-America-Expanded-Thin.woff");
}

:root {

    --black: #2c2c2c;
    --red: rgba(234, 84, 79, 1);
    --red-lowopa: rgba(234, 84, 79, 0.45);
    --title-font: "GT America Black";
    --regular-font: "GT America Regular";
    --text-font: "GT America Thin";
    --text-shadow-small: 0px 0px 15px rgba(238, 238, 238, 0.5);
    --text-shadow-small-hover: 0px 0px 15px rgba(238, 238, 238, 0.4);
    --background-grey: #ECECEC;
    font-size: 16px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    color: white;
    background-color: var(--red);
}



* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

section {
    pointer-events: none;
}

section * {
    pointer-events: all;
}

p {
    font-family: var(--text-font);
}

a {
    text-decoration: none;
}

nav p,
nav a {
    font-family: var(--title-font);
    text-transform: uppercase;
    color: white;
    pointer-events: all;
    cursor: pointer;
    text-shadow: var(--text-shadow-small);
}

nav p:hover,
nav a:hover {
    color: var(--red);
    text-shadow: var(--text-shadow-small-hover);
    cursor: pointer;

}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1,
h2 {
    font-family: var(--title-font);
}

h3 {
    font-family: var(--text-font);
    font-size: 0.8rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    overflow-wrap: break-word;
    color: var(--black);
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

    :root {
        font-size: 14px;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}