.main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    pointer-events: none;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.linkContainer {
    width: fit-content;
    padding: 1.5rem;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
    cursor: pointer;
    z-index: 11;
    display: flex;
    gap: 2rem;
}


.active a,
.active p {
    color: var(--red);
}


.linkContainer a,
.linkContainer p {
    font-size: 1rem;
    cursor: pointer;

}

.titleContainer {
    left: 50%;
    transform: translateX(-50%);
}

.titleContainer a {
    font-size: 1.25rem;
}

.linkContainer:nth-of-type(2) {
    left: 0%;
}

.linkContainer:nth-of-type(3) {
    right: 0;
    display: flex;
    flex-direction: row-reverse;
}

.linkContainer:nth-of-type(4) {
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.linkContainer:nth-of-type(4) a {
    font-size: 1.25rem;
}

.linkContainer:nth-of-type(5) {
    left: 0%;
    bottom: 0%;
    display: flex;
    align-items: flex-end;
}

.linkContainer:nth-of-type(6) {
    right: 0%;
    bottom: 0%;
}

.linkContainer:nth-of-type(7) {
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}








/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {

    .main {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10;
        pointer-events: none;
    }

    .container {
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .linkContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        pointer-events: all;
        padding: 0.75rem;
    }

    .active {
        pointer-events: none;
    }



    .linkContainer a,
    .linkContainer p {
        font-size: 0.8rem;
        cursor: pointer;
        width: fit-content;
    }

    .titleContainer {
        left: 50%;
        transform: translateX(-50%);
    }

    .titleContainer a {
        font-size: 1rem;
        padding-top: 0.5rem;
    }

    .linkContainer:nth-of-type(2) {
        left: 0%;
    }

    .linkContainer:nth-of-type(3) {
        right: 0;
        flex-direction: column;
        align-items: flex-end;
    }

    .linkContainer:nth-of-type(4) {
        left: 0%;
        top: 50%;
        transform: translateY(-50%);
    }

    .linkContainer:nth-of-type(4) a {
        font-size: 1rem;
    }

    .linkContainer:nth-of-type(5) {
        left: 0%;
        bottom: 0%;
    }

    .linkContainer:nth-of-type(6) {
        right: 0%;
        bottom: 0%;
    }

    .linkContainer:nth-of-type(7) {
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}